@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Este site tem como obejtivo ajudar você jogador a registras seus pontos de basquete.</p>
    <p>Aqui estarão algumas dicas rápidas para usar nosso sistema.</p>
    <p>Caso deseje inserir novas pontuações no sistema, basta acessar a guia "Lançar Pontos".</p>
    <p>Ao acessar a guia, irá se deparar com o histórico dos pontos já registrados e com a opção de registrar novos pontos.</p>
    <p>Assim que entrar na página para registrar novos pontos, basta indicar seu nome, a data do seu jogo (Ex:21/07/2022) e a sua pontuação.</p>
    <p>Feito isso, basta salvar sua nova pontuação e já irá constar no histórico o novo registro.</p>
</div>
